{# templates/admin/custom_dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="container">
        <h1 class="mb-4">Welcome to MyPronote </h1>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    </div>
{% endblock %}
